workspaces/mi/mi-language-server/org.eclipse.lemminx/src/test/resources/synapse/schemagen/xsd/sampleWithChoiceObjectInArray.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~  Copyright (c) 2025, WSO2 LLC. (https://www.wso2.com) All Rights Reserved.
 ~
 ~  WSO2 LLC. licenses this file to you under the Apache License,
 ~  Version 2.0 (the "License"); you may not use this file except
 ~  in compliance with the License.
 ~  You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~  Unless required by applicable law or agreed to in writing,
 ~  software distributed under the License is distributed on an
 ~  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~  KIND, either express or implied.  See the License for the
 ~  specific language governing permissions and limitations
 ~  under the License.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="Orders">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Order" type="OrderType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="OrderType">
        <xs:choice>
            <xs:element name="PhysicalProduct" type="PhysicalProductType"/>
            <xs:element name="DigitalProduct" type="DigitalProductType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="PhysicalProductType">
        <xs:choice>
            <xs:element name="FragileItem" type="ItemDetailsType"/>
            <xs:element name="NonFragileItem" type="ItemDetailsType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="DigitalProductType">
        <xs:choice>
            <xs:element name="EBook" type="DigitalDetailsType"/>
            <xs:element name="Software" type="DigitalDetailsType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="ItemDetailsType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="weight" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DigitalDetailsType">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="sizeMB" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
