workspaces/mi/mi-language-server/org.eclipse.lemminx/src/test/resources/synapse/schemagen/xsd/sampleWithChoicesAsObjects.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~  Copyright (c) 2025, WSO2 LLC. (https://www.wso2.com) All Rights Reserved.
 ~
 ~  WSO2 LLC. licenses this file to you under the Apache License,
 ~  Version 2.0 (the "License"); you may not use this file except
 ~  in compliance with the License.
 ~  You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~  Unless required by applicable law or agreed to in writing,
 ~  software distributed under the License is distributed on an
 ~  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~  KIND, either express or implied.  See the License for the
 ~  specific language governing permissions and limitations
 ~  under the License.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:complexType name="PaymentInfoType">
        <xs:choice>
            <xs:element name="CreditCard" type="CreditCardType"/>
            <xs:element name="PayPal" type="PayPalType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="CreditCardType">
        <xs:sequence>
            <xs:element name="cardNumber" type="xs:string"/>
            <xs:element name="expiryDate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PayPalType">
        <xs:sequence>
            <xs:element name="paypalEmail" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Transaction">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="transactionID" type="xs:string"/>
                <xs:element name="PaymentDetails" type="PaymentInfoType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
