workspaces/mi/mi-language-server/org.eclipse.lemminx/src/main/resources/org/eclipse/lemminx/schemas/430/mediators/advanced/enqueue.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com).
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the Eclipse Public License v2.0
  ~ which accompanies this distribution, and is available at
  ~ http://www.eclipse.org/legal/epl-v20.html
  ~
  ~ SPDX-License-Identifier: EPL-2.0
  ~
  ~ Contributors:
  ~     WSO2 LLC - support for WSO2 Micro Integrator Configuration
  -->

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        targetNamespace="http://ws.apache.org/ns/synapse"
        xmlns="http://ws.apache.org/ns/synapse">

    <xs:element name="enqueue">
        <xs:annotation>
            <xs:documentation source="description">
                Used to execute diferent sequences for messages with different properties (in high-load scenarios).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="priority" type="xs:integer" use="required"/>
            <xs:attribute name="sequence" type="xs:string" use="required"/>
            <xs:attribute name="executor" type="xs:string" use="required"/>
            <xs:attribute name="description" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

</xs:schema>

