workspaces/mi/mi-language-server/org.eclipse.lemminx/src/main/resources/org/eclipse/lemminx/schemas/430/mediators/filter/filter.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com).
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the Eclipse Public License v2.0
  ~ which accompanies this distribution, and is available at
  ~ http://www.eclipse.org/legal/epl-v20.html
  ~
  ~ SPDX-License-Identifier: EPL-2.0
  ~
  ~ Contributors:
  ~     WSO2 LLC - support for WSO2 Micro Integrator Configuration
  -->

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        targetNamespace="http://ws.apache.org/ns/synapse"
        xmlns="http://ws.apache.org/ns/synapse">

    <xs:include schemaLocation="../mediators.xsd"/>

    <xs:element name="filter">
        <xs:annotation>
            <xs:documentation source="description">
                Filters messages based on an XPath, JSONPath, or a regular expression. The filtering logic resembles the
                "if-else" control structure.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="mediatorList" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="then" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            If the filter criteria matches, the enclosing
                            mediator list will be invoked
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:group ref="mediatorList" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:attribute name="sequence" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="else" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            If the filter criteria fails, the enclosing
                            mediator list will be invoked
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:group ref="mediatorList" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:attribute name="sequence" type="xs:string" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="source" type="xs:string" use="optional"/>
            <xs:attribute name="regex" type="xs:string" use="optional"/>
            <xs:attribute name="xpath" type="xs:string" use="optional"/>
            <xs:attribute name="description" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

</xs:schema>

