workspaces/mi/mi-language-server/org.eclipse.lemminx/src/main/resources/org/eclipse/lemminx/schemas/440/local_entry.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com).
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the Eclipse Public License v2.0
  ~ which accompanies this distribution, and is available at
  ~ http://www.eclipse.org/legal/epl-v20.html
  ~
  ~ SPDX-License-Identifier: EPL-2.0
  ~
  ~ Contributors:
  ~     WSO2 LLC - support for WSO2 Micro Integrator Configuration
  -->

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        targetNamespace="http://ws.apache.org/ns/synapse"
        xmlns="http://ws.apache.org/ns/synapse">

    <xs:element name="localEntry" type="LocalEntry">
        <xs:annotation>
            <xs:documentation source="description">
                LocalEntry defines entries in the local registry within a Synapse Configuration
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="LocalEntry" mixed="true">
        <!-- TODO : need to add the constraints (might need factory refactoring) -->
        <xs:annotation>
            <xs:documentation source="description">
                This describes the possible types of local entries that you can have
                in the Synapse Configuration
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="1" processContents="skip"/>
        </xs:sequence>
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="src" type="xs:anyURI" use="optional"/>
    </xs:complexType>

</xs:schema>

