workspaces/mi/mi-language-server/org.eclipse.lemminx/src/main/resources/org/eclipse/lemminx/schemas/430/mediators/other/entitlement.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com).
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the Eclipse Public License v2.0
  ~ which accompanies this distribution, and is available at
  ~ http://www.eclipse.org/legal/epl-v20.html
  ~
  ~ SPDX-License-Identifier: EPL-2.0
  ~
  ~ Contributors:
  ~     WSO2 LLC - support for WSO2 Micro Integrator Configuration
  -->

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        jaxb:version="2.0"
        elementFormDefault="qualified"
        targetNamespace="http://ws.apache.org/ns/synapse"
        xmlns="http://ws.apache.org/ns/synapse">

    <xs:include schemaLocation="../mediators.xsd"/>
    <xs:include schemaLocation="../../misc/common.xsd"/>

    <xs:element name="entitlementService">
        <xs:annotation>
            <xs:documentation source="description">
                Intercepts messages and evaluates them against a XACML policy. The ESB profile becomes the XACML policy
                enforcement point (PEP), and WSO2 Identity Server can be the XACML policy decision point (PDP).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="onReject" type="sequence" minOccurs="0" maxOccurs="1"/>
                <xs:element name="onAccept" type="sequence" minOccurs="0" maxOccurs="1"/>
                <xs:element name="advice" type="sequence" minOccurs="0" maxOccurs="1"/>
                <xs:element name="obligations" type="sequence" minOccurs="0" maxOccurs="1"/>
            </xs:all>

            <xs:attribute name="remoteServiceUrl" type="xs:string" use="required"/>
            <xs:attribute name="remoteServiceUserName" type="xs:string" use="required"/>
            <xs:attribute name="remoteServicePassword" type="xs:string" use="required"/>
            <xs:attribute name="callbackClass" type="xs:string" use="required"/>
            <xs:attribute name="client" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="soap"/>
                        <xs:enumeration value="basicAuth"/>
                        <xs:enumeration value="thrift"/>
                        <xs:enumeration value="wsXacml"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="thriftHost" type="xs:string" use="optional"/>
            <xs:attribute name="thriftPort" type="xs:string" use="optional"/>
            <xs:attribute name="onReject" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="onReject_attribute"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="onAccept" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="onAccept_attribute"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="advice" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="advice_attribute"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="obligations" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="obligations_attribute"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="description" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
