workspaces/mi/mi-language-server/org.eclipse.lemminx/src/main/resources/org/eclipse/lemminx/schemas/430/mediators/eip/aggregate.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com).
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the Eclipse Public License v2.0
  ~ which accompanies this distribution, and is available at
  ~ http://www.eclipse.org/legal/epl-v20.html
  ~
  ~ SPDX-License-Identifier: EPL-2.0
  ~
  ~ Contributors:
  ~     WSO2 LLC - support for WSO2 Micro Integrator Configuration
  -->

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        jaxb:version="2.0"
        elementFormDefault="qualified"
        targetNamespace="http://ws.apache.org/ns/synapse"
        xmlns="http://ws.apache.org/ns/synapse">

    <xs:include schemaLocation="../../misc/common.xsd"/>
    <xs:include schemaLocation="../mediators.xsd"/>

    <xs:element name="aggregate">
        <xs:annotation>
            <xs:documentation source="description">
                Combines the responses to a message that has been split into several sub messages (using the Iterate or
                Clone mediators)
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice maxOccurs="3" minOccurs="1">
                <xs:element name="correlateOn" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:attribute name="expression" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="completeCondition" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="messageCount" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="min" type="integerOrExpression" use="optional"/>
                                    <xs:attribute name="max" type="integerOrExpression" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="timeout" type="xs:long" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="onComplete" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:group ref="mediatorList" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:attribute name="expression" type="xs:string" use="required"/>
                        <xs:attribute name="sequence" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:appinfo>
                                    <jaxb:property name="sequence_attribute"/>
                                </xs:appinfo>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="enclosingElementProperty" type="xs:string" use="optional"/>
                        <xs:attribute name="aggregateElementType" use="optional">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="root"/>
                                    <xs:enumeration value="child"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:attribute name="description" type="xs:string" use="optional"/>
            <xs:attribute name="id" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
