workspaces/mi/mi-language-server/org.eclipse.lemminx/src/main/resources/org/eclipse/lemminx/schemas/430/mediators/transformation/enrich.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com).
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the Eclipse Public License v2.0
  ~ which accompanies this distribution, and is available at
  ~ http://www.eclipse.org/legal/epl-v20.html
  ~
  ~ SPDX-License-Identifier: EPL-2.0
  ~
  ~ Contributors:
  ~     WSO2 LLC - support for WSO2 Micro Integrator Configuration
  -->

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        targetNamespace="http://ws.apache.org/ns/synapse"
        xmlns="http://ws.apache.org/ns/synapse">

    <xs:element name="enrich">
        <xs:annotation>
            <xs:documentation source="description">
                Enriches the selected content of a message (the message envelope, body, etc.) according to a given
                specification. The specification for the enhancement can be given inline (within the mediator) or
                extracted using a Property mediator.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="source" type="SourceEnrich" minOccurs="1" maxOccurs="1"/>
                <xs:element name="target" type="TargetEnrich" minOccurs="1" maxOccurs="1"/>
            </xs:all>
            <xs:attribute name="description" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="SourceEnrich" mixed="true">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="1" processContents="skip"/>
        </xs:sequence>
        <xs:attribute name="clone" type="xs:boolean" use="optional" default="true"/>
        <xs:attribute name="xpath" type="xs:string" use="optional"/>
        <xs:attribute name="key" type="xs:string" use="optional"/>
        <xs:attribute name="type" use="optional" default="custom">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="custom"/>
                    <xs:enumeration value="envelope"/>
                    <xs:enumeration value="body"/>
                    <xs:enumeration value="property"/>
                    <xs:enumeration value="inline"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="property" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="TargetEnrich">
        <xs:attribute name="action" use="optional" default="replace">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="replace"/>
                    <xs:enumeration value="child"/>
                    <xs:enumeration value="sibling"/>
                    <xs:enumeration value="remove"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type" use="optional" default="custom">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="custom"/>
                    <xs:enumeration value="envelope"/>
                    <xs:enumeration value="body"/>
                    <xs:enumeration value="property"/>
                    <xs:enumeration value="key"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="xpath" type="xs:string" use="optional"/>
        <xs:attribute name="property" type="xs:string" use="optional"/>
    </xs:complexType>

</xs:schema>

